.contentForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 500px;
  width: 400px;
  background-color: black;
}
.textBox {
  border: 0;
  color: rgb(120, 121, 122);
  border-bottom: darkgoldenrod solid 0.5px;
  flex-wrap: wrap;
  margin: 2px;
  padding: 10px;
  width: 100%;
  height: 50px;
}
.textBox:hover {
  border-color: rgba(250, 194, 110, 0.664);
}
.textarea:hover {
  border-color: rgba(250, 194, 110, 0.664);
}
#ciudad:hover {
  border-color: rgba(250, 194, 110, 0.664);
}
textarea {
  color: rgb(120, 121, 122);
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 2px;
  border: darkgoldenrod solid 0.5px;
}
#ciudad {
  color: rgb(120, 121, 122);
  border: 0;
  border-bottom: darkgoldenrod solid 1 px;
  width: 100%;
  height: 50px;
}
.btn {
  background-color: transparent;
  color: rgb(248, 212, 7);
  border: 2px solid rgb(15, 15, 15);
  border-radius: 6px;
  width: 90px;
  height: 50px;
}
.btn:hover {
  background-color: rgb(248, 212, 7);
  color: rgb(8, 8, 8);
}
