* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-position: 0, 0;
}

/* estilos para el encabezado */
.encabezado {
  color: #f1f1f1;
  width: 100%;
  height: 600px;  
  z-index: 0;
  background-image: url(../img/iguana3.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.encabezado__titulo {
  margin: 0;
  text-align: center;
  color: rgb(255, 230, 7);
  text-shadow: 2px 3px 2px rgb(27, 73, 119);
}

/* estilo para la nav-bar*/

.encabezado__navar ul {
  list-style-type: none;
  padding: 5px;
}
.encabezado__navar li {
  float: left;
  margin: 10px;
}

.encabezado__navar--item a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  /* background-color:rgba(30, 147, 243, 0.568) ;*/
  padding: 20px;
}
.encabezado__navar--item a:hover {
  padding: 20px;
  background-color: rgb(248, 212, 7);
  color: rgb(8, 8, 8);
}

.contenido {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    background: url(../img/fondo.webp);
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: black;
    color: white;
  }
/*ESTILO PARA LA SECCION Inicio*/
.inicio--info {
  margin: 10px;
}
/*ESTILO PARA LA SECCION Galeria*/
.galeria {
  width: 100%;
  height: 500px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
    
}

.galeria__shows {
  width: 200px;
  height: 100px;
  background-color: skyblue;
 
}

/* ESTILOS PARA SECCION Carta*/
.carta {
  width: 100%;
  height: 600px;
  text-align: center;
}
.carta__titulo{
    width: 100%;
}

.carta__menu--variedad {
    
    width:500px;
    height: 50px;    
    background-color: rgb(224, 194, 24);
    color:black;
 }
 

/* ESTILOS PARA SECCION Contacto */
.contacto {
  width: 100%;
  height: 500px;
  padding: 10px;
  margin-top: 0;
  margin-left: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.contacto__titlo {
  float: left;
  padding: 50px;
  float: left;
}
.contacto__mapa {
  width: 200px;
  margin-left: 25px;
}
.contacto__form {
  width: 100px;
  height: 500px;
  width: 400px;
  /* background-color: black; */
}

.textBox {
  border: 0;
  background-color: transparent;
  color: rgb(248, 250, 252);
  border-bottom: darkgoldenrod solid 0.5px;
  flex-wrap: wrap;
  margin: 2px;
  padding: 10px;
  width: 100%;
  height: 50px;
}

.textBox:hover {
  border-color: rgba(250, 194, 110, 0.664);
}

.textarea:hover {
  border-color: rgba(250, 194, 110, 0.664);
}

#ciudad:hover {
  border-color: rgba(250, 194, 110, 0.664);
}

.textarea {
  color: rgb(120, 121, 122);
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-top: 2px;
  border: darkgoldenrod solid 0.5px;
}

#ciudad {
  color: rgb(120, 121, 122);
  border: 0;
  border-bottom: darkgoldenrod solid 1 px;
  width: 100%;
  height: 50px;
}

.btn {
  background-color: transparent;
  color: rgb(255, 230, 7);
  border: 2px solid rgb(255, 255, 255);
  border: solid 1px lightslategray;
  border-radius: 10px;
  width: 90px;
  height: 50px;
}

.btn:hover {
  background-color: rgb(248, 212, 7);
  color: rgb(8, 8, 8);
  border: solid 1px rgb(248, 212, 7);
}

/* ESTILOS PARA EL Footer*/

.footer {
  clear: both;
  text-align: center;
  background-color: rgb(248, 212, 7);
}
.footer__texto {
  color: black;
}
.footer__info ul {
  text-decoration: none;
  list-style-type: none;
}
.footer__texto--derechos {
  width: 600px;
  margin: auto;
  padding-right: 10px;
}
.footer__icono--red {
  width: 25px;
  height: 25px;
  background-color: rgba(128, 128, 128, 0.541);
  display: inline-block;
}
.footer__icono_redes {
  width: 25px;
  height: 25px;
}
