* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  scroll-behavior: smooth;
  /*colores letras y fodos*/
  --Amarillo: #fece2f;
  --letraBlanca: #f1f1f1;
  --letraNegra: #020202;
}
body {
  background-color: black;
  background-image: url(../img/fondo.webp);
  background-repeat: repeat;
  background-attachment: fixed;
}
/* 
.grilla {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "inicio inicio inicio"
    "nosotros nosotros nosotros"
    "galeria galeria galeria"
    "carta carta carta "
    "contacto contacto contacto"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:10px;
} */

.encabezado {
  grid-area: header;
  height: 25em;
  background-image: url(../img/iguana/barra_botellas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: var(--letraBlanca);
}
.logo {
  text-align: center;
  width: 150px;
  height: auto;
  margin-bottom: 50px;
}
.navbar {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  color: var(--letraNegra) !important;
  border-radius: 5px;
  margin: auto;
  transition: all 0.7s ease;
}
.navar a {
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
  font-size: 1.5em;
}

.inicio {
  grid-area: inicio;
  height: 20em;
  color: var(--letraBlanca);
}
.nosotros {
  grid-area: nosotros;
  color: var(--letraBlanca);
  height: 20em;
}
/*Estilos para la Galeria*/
.galeria {
  background-color: var(--Amarillo);
  width: auto;
  height: 40em;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2em;
  overflow: scroll;
}
.card {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.card-img-top {
  width: 12em;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 6px 3px 5px rgb(73, 72, 72);
} /* 
.col .imagen{
  margin-top: 2em;
  width: 10em;
  margin-left: 2em ;
  
} */

/* Estilo para Seccion Carta*/
.carta {
  grid-area: carta;
}
/*estilos para el titulo de la carta*/
.carta__titulo {
  text-align: center;
  width: 50%;
  letter-spacing: 3px;
  padding: 10px;
  background-color: var(--Amarillo);
  margin: 0 auto;
  margin-bottom: 10px;
  color: black;
}
.acccordion {
  background-color: black;
}
.accordion-button {
  background-color: #fece2f;
  color: black;
  font-size: 1em;
  text-align: center;
}
.list-carta {
  border-radius: 10px;
}
/*para los <div> de categoria (chegusan, pizzas y bebidas)*/
.carta__categoria {
  font-size: small;
  background-color: var(--Amarillo);
  border-radius: px;
  width: 450px;
  box-shadow: 1px 3px 3px 2px rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
/*estilo para el h2 (titulo de catergoria)*/
.accordion-body > ul {
  list-style-type: none;
  background-color: var(--Amarillo);
}
/*Estilo para los <div> que contienen los elementos la carta*/
.carta__categoria--comida {
  border-radius: 5px;
  display: flex;
  height: 120px;
  align-items: center;
}
/*Estilo para ordernar los elementos de la descripcion de los platos*/
.carta__comida--descripcion {
  color: rgb(0, 0, 0);
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid black;
}
.carta__comida--foto {
  width: auto;
}
/*estilos para el nombre del plato*/
.comida__nombre {
  width: 25%;
  display: flex;
  align-items: center;
  padding: 5px;
}
/*estilos para los ingredientes del plato*/
.comida__receta {
  display: flex;
  align-items: center;
  width: 50%;
}
/*estilo para el precio del plato*/
.comida__precio {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  display: flex;
  width: 25%;
  align-items: center;
}
/*estilo parta la foto de los platos */
.foto_comida {
  margin-bottom: 5px;
  height: 80px;
  width: 90px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(44, 45, 46, 0.603);
}
.contacto {
  top: -0.5em;
  height: 55em;
  color: var(--letraBlanca);
 
}
.contacto h2{
  margin-top: 1em ;
}
.encabezadoCTO{
  height: 5em;
}
.formulario .textBox {
  color: #f1f1f1;
  background-color: transparent;
  border: var(--Amarillo) 1px solid;
  height: 3em;
  border-color: transparent;
}
.formulario input{
  border-color: var(--Amarillo) !important;
  appearance:var(--Amarillo);
}
.formulario .ciudad {
  height: 2.5em;
}
.formulario .textarea{
  color: var(--letraBlanca);
}
.mapa{
  margin-bottom: 5em;
}

.footer {
  background-color: goldenrod;
  grid-area: footer;
}
