* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .logo {
    text-align: center;
    width: 150px;
    height: auto;
    margin-bottom: 50px;
  }
  h2{
    color: $colorLetraBlanca;
  }
  p{color: $colorLetraBlanca;}
  .navbar-nav{
    
    .nav-item{
     
      .nav-link{
        padding-bottom: 1px;
        
        &:hover{
          border-bottom: solid 1px $colorAmarrilo;
                   
        }
      }
    }
  }
  .carta__comida--descripcion p{ color: $colorLetraNegra;}
  .footer p{
    color: $colorLetraNegra;
  }
 .nosotros {
   height: 40em;
 }
