.galeria{
    height: 45em;
    background-color: transparent;
    margin: 1em;
    overflow: scroll;

.card {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card-img-top {
    width: 12em;
    background-color: transparent;
    border-radius: 10px;
    //box-shadow: 9px 9px 8px rgb(56, 55, 55);
  }

}