/* --------------------- estilos para la img del inicio --------------------- */
   .frente_bar{       
        display: flex;
        flex-direction: row;
        align-content: center;
        width: 45%; 
        height: auto; 
        margin-top: 1em;  
        @media (max-width: 768px) {
            width: 100vw ;
            height: auto;
        }    
    }      
    /* --------------------- estilos para la seccion inicio --------------------- */
  .inicio{
      position: relative;
      color:$colorLetraBlanca;
      height: 65em;
      
     /* ----------------- estilo para el title de seccion inicio ----------------- */
    .inicio__titulo{
        font-size: 1.5em;   
        
    }
    /* -------------------- estilo para el parrafo del inicio ------------------- */
    .inicio__info{       
        font-size: 1.5em; 
        padding: 1em;       
    }
 }