

.nosotros{
    height: 55em;
    .nosotros__titulo{
        margin: 1.5em;
        text-align: center;
        
    }
    .nosotros__historia{
        padding: 0.5em;
        font-size: 1em;       
        color: $colorAmarrilo;
        
        
    }
}