

    .frente_bar{
       
        display: flex;
        height: auto;
        width: 40vw; 
        height: auto;       
        margin-bottom: 40px;
        
    }      
  .inicio{
      position: relative;
      color:$colorLetraBlanca;
      height: 55em;
     
    .inicio__titulo{
        font-size: 2.5em;   
        
    }
    .inicio__info{  
        z-index: 150;      
        font-size: 1.5em;
    }
 }